.services {
  margin-top: 119px;
  margin-left: auto;
  margin-right: auto;
}
.services__title {
  color: #fff;
  font-family: "MTN Brighter Regular";
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.services__row {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 130px 20px 130px;
}
.services__item {
  display: flex;
  align-items: center;
}
.services__header {
  margin-left: 30px;
}

.main__elipse {
  background-color: #00bcd4;
  filter: blur(300px);
  right: 0px;
  top: 700px;
}
